{% extends "base.html" %} 
{% block title %}Book Ardaas Sarbat De Bhale Di{% endblock %}

{% block content %}
<style>
    .bookbtn {
        justify-content: center;
        align-items: center;
        border: none;
        width: 120px;
        height: 30px;
    }
</style>

<div class="container mt-5">
    <div class="row movie">
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
            <img src="static/Pollywood_Poster/Pollywood_Poster_Ardaas Sarbat De Bhale Di.jpeg" alt="Ardaas Sarbat De Bhale Di Movie Poster" width="250" height="300">
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
            <video src="static/Pollywood_Poster/Ardaas Sarbat De Bhale Di_Trailer.mp4" class="trailer" muted autoplay controls style="width: 100%; height: auto; max-height: 300px;"></video>
        </div>
    </div>

    <div class="booking text-center">
        <form action="/book_tickets" method="post">
            <input type="checkbox" name="movie" id="movie" value="Ardaas Sarbaat De Bhale Di" checked hidden>

            <div class="form-group">
                <label for="city">Select Your City:</label>
                <select name="city" id="city" class="form-control" onchange="cinemalogic()">
                    <option value="">Select Your City</option>
                    <option value="rajpura">Rajpura</option>
                    <option value="chandigarh">Chandigarh</option>
                    <option value="mohali">Mohali</option>
                    <option value="ambala">Ambala</option>
                </select>
            </div>

            <div id="rjp" style="display: none;">
                <label for="cinema">Select Your Preferred Cinema:</label>
                <select name="cinema" class="form-control">
                    <option value=" ">Select a Cinema</option>
                    <option value="Prime Hub">Prime Hub</option>
                </select>
            </div>
            <div id="chd" style="display: none;">
                <label for="cinema">Select Your Preferred Cinema:</label>
                <select name="cinema" class="form-control">
                    <option value=" ">Select a Cinema</option>
                    <option value="PVR Elante">PVR Elante</option>
                    <option value="PVR Centra">PVR Centra</option>
                </select>
            </div>
            <div id="moh" style="display: none;">
                <label for="cinema">Select Your Preferred Cinema:</label>
                <select name="cinema" class="form-control">
                    <option value=" ">Select a Cinema</option>
                    <option value="PVR CP67">PVR CP67</option>
                    <option value="PVR VR Punjab">PVR VR Punjab</option>
                    <option value="PVR Mohali Walk">PVR Mohali Walk</option>
                </select>
            </div>
            <div id="amb" style="display: none;">
                <label for="cinema">Select Your Preferred Cinema:</label>
                <select name="cinema" class="form-control">
                    <option value=" ">Select a Cinema</option>
                    <option value="Fun Galaxy">Fun Galaxy</option>
                    <option value="Aryaan Cinema">Aryaan Cinema</option>
                </select>
            </div>

            <div class="form-group" id="seat_category" style="display: none;">
                <label for="seat_category">Select the Category of Seats:</label>
                <select name="Category" id="Category" class="form-control">
                    <option value=" ">Select your Category</option>
                    <option value="silver">Silver - Rs.120</option>
                    <option value="gold">Gold - Rs.180</option>
                    <option value="platinum">Platinum - Rs.240</option>
                </select>
            </div>

            <div class="form-group" id="num_of_tickets" style="display: none;">
                <label for="ticketsnum">Select Number of Tickets:</label>
                <select name="ticketsnum" id="ticketsnum" class="form-control">
                    <option value=" ">Select Number of Tickets</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>

            <div class="form-group" id="movie_date" style="display: none;">
                <label for="movie_date">Select Date:</label>
                <input type="date" id="date" name="date" class="form-control" min="2024-11-01" max="2024-11-15">
            </div>

            <div class="form-group" id="movie_time" style="display: none;">
                <label for="movie_time">Select Show Time:</label>
                <select name="Time" id="time" class="form-control" onchange="check()">
                    <option value=" ">Select Your Preferred Slot</option>
                    <option value="09:00 A.M.">09:00 A.M.</option>
                    <option value="12:00 P.M.">12:00 P.M.</option>
                    <option value="03:00 P.M.">03:00 P.M.</option>
                    <option value="06:00 P.M.">06:00 P.M.</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary btn-block" id="bookbtn" style="display: none;">Book Tickets</button>
        </form>
    </div>
</div>

<script>
    function cinemalogic() {
        var city = document.getElementById("city").value;
        document.getElementById("rjp").style.display = city === 'rajpura' ? 'block' : 'none';
        document.getElementById("chd").style.display = city === 'chandigarh' ? 'block' : 'none';
        document.getElementById("moh").style.display = city === 'mohali' ? 'block' : 'none';
        document.getElementById("amb").style.display = city === 'ambala' ? 'block' : 'none';

        const showDetails = city ? 'block' : 'none';
        document.getElementById("seat_category").style.display = showDetails;
        document.getElementById("num_of_tickets").style.display = showDetails;
        document.getElementById("movie_date").style.display = showDetails;
        document.getElementById("movie_time").style.display = showDetails;
    }

    function check() {
        var seatCategory = document.getElementById("Category").value;
        var ticketsNum = document.getElementById("ticketsnum").value;
        var timeslot = document.getElementById("time").value;
        document.getElementById("bookbtn").style.display = seatCategory && ticketsNum && timeslot ? 'block' : 'none';
    }
</script>
{% endblock %}
