{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="static/CSS/home.css">
<h1 align="center" style="background-color: #fab778; padding: 10px 0px 10px 0px;">Book your Preferred Spot on your Finger Tips!</h1>
<br>
<!-- <h3>Trending Movies:</h3> -->
<h1 class="headings">Trending Movies</h1>

<!-- --------------------------------------TRENDING--------------------------------- -->

<!-- <marquee direction="left" scrollamount="10"> -->
    <div class="trending">
        <!-- <div class="Deadpool_and_Wolverine">
            <a href="/bookdeadpool"><img src="static/Hollywood_Poster/Hollywood_Poster_Deadpool and Wolverine.jpeg"
                    class="slide" alt="Deadpool and Wolverine Poster"></a>
            <br>
            <a href="/bookdeadpool">Deadpool & Wolverine</a>
        </div> -->

        <div class="Fast_And_Furious_X">
            <a href="/bookfastandfurious"><img src="static/Hollywood_Poster/Hollywood_Poster_Fast_And_Furious_x-Poster.jpeg"
                    class="slide" alt="Fast and Furious Poster"></a>
            <br>
            <a href="/bookfastandfurious">Fast and Furious X</a>
        </div>

        <div class="Chhaava">
            <a href="/bookchhaava"><img src="static/Bollywood_Poster/Bollywood_Poster_Chhaava.jpeg" class="slide"
                    alt="Chhaava Poster"></a>
            <br>
            <a href="/bookchhaava">Chhaava</a>
        </div>

        <div class="Jatt_and_Juliet3">
            <a href="/bookjattandjuliet3"><img src="static/Pollywood_Poster/Pollywood_Poster_Jatt & Juliet 3.jpeg"
                    class="slide" alt="Jatt & Juliet 3 Poster"></a>
            <br>
            <a href="/bookjattandjuliet3">Jatt & Juliet 3</a>
        </div>

        <div class="Shaitaan">
            <a href="/bookshaitaan"><img src="static/Bollywood_Poster/Bollywood_Poster_Shaitaan.jpeg" class="slide"
                    alt="Shaitaan Poster"></a>
            <br>
            <a href="/bookshaitaan">Shaitaan</a>
        </div>
    </div>
<!-- </marquee> -->

<!-- --------------------------------------------upcoming---------------------------------------------- -->

<h1 class="headings" style="margin-top: 40px;">Upcoming Movies</h1>

<div class="upcoming">
    <div class="punjab95">
        <a href="/upcomingpunjab95"><img src="static/Upcoming/Punjab 95.jpeg"
                class="slide" alt="Punjab95 Poster"></a>
        <br>
        <a href="/upcomingpunjab95">Punjab 95</a>
    </div>

    <div class="Stree2">
        <a href="/bookstree2"><img src="static/Bollywood_Poster/Bollywood_Poster_Stree2.jpeg" class="slide"
                alt="Stree2 Poster"></a>
        <br>
        <a href="/bookstree2">Stree 2</a>
    </div>

    <div class="Jatt_and_Juliet3">
        <a href="/bookjattandjuliet3"><img src="static/Pollywood_Poster/Pollywood_Poster_Jatt & Juliet 3.jpeg"
                class="slide" alt="Jatt & Juliet 3 Poster"></a>
        <br>
        <a href="/bookjattandjuliet3">Jatt & Juliet 3</a>
    </div>

    <div class="Shaitaan">
        <a href="/bookshaitaan"><img src="static/Bollywood_Poster/Bollywood_Poster_Shaitaan.jpeg" class="slide"
                alt="Shaitaan Poster"></a>
        <br>
        <a href="/bookshaitaan">Shaitaan</a>
    </div>
</div>

<br>

<!-- ----------------------------------------DROPDOWN------------------------------------------ -->

<div class="dropdown">
    <h5><b>Select Your Preferred Language: </b></h5>
    <select name="language" id="language" class="form-select form-select-sm" onchange="droplogic()" style="border-radius: 100px;">
        <option value="">Select a Language</option>
        <option value="All">Show All</option>
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
        <option value="Punjabi">Punjabi</option>
    </select>
</div>

<!-- --------------------------------------------------------ENGLISH---------------------------- -->

<div class="engcontainer" id="engcontainer" style="display: none;">
    <h1 class="headings">English Collection</h1>
    <div class="eng" id="eng" >
        <div class="Deadpool_and_Wolverine">
            <a href="/bookdeadpool"><img src="static/Hollywood_Poster/Hollywood_Poster_Deadpool and Wolverine.jpeg"
                    class="slide" alt="Deadpool and Wolverine Poster"></a>
            <br>
            <a href="/bookdeadpool">Deadpool & Wolverine</a>
        </div>

        <div class="Prey">
            <a href="/bookprey"><img src="static/Hollywood_Poster/Hollywood_Poster_Prey.jpeg"
                    class="slide" alt="Prey Poster"></a>
            <br>
            <a href="/bookprey">Prey</a>
        </div>
    </div>
</div>

<!-- ----------------------------------------------------HINDI-------------------------------------- -->

<div class="hincontainer" id="hincontainer" style="display: none;">
    <h1 class="headings">Hindi Collection</h1>
    <div class="hin" id="hin">
        <div class="Article370">
            <a href="/bookarticle370"><img src="static/Bollywood_Poster/Bollywood_Poster_Article370.jpeg"
                    class="slide" alt="Article 370 Poster"></a>
            <br>
            <a href="/bookarticle370">Article 370</a>
        </div>

        <div class="Shaitaan">
            <a href="/bookshaitaan"><img src="static/Bollywood_Poster/Bollywood_Poster_Shaitaan.jpeg"
                    class="slide" alt="Shaitaan Poster"></a>
            <br>
            <a href="/bookshaitaan">Shaitaan</a>
        </div>

        <div class="Srikanth">
            <a href="/booksrikanth"><img src="static/Bollywood_Poster/Bollywood_Poster_Srikanth.jpeg"
                    class="slide" alt="Srikanth Poster"></a>
            <br>
            <a href="/booksrikanth">Srikanth</a>
        </div>

        <div class="Stree2">
            <a href="/bookstree2"><img src="static/Bollywood_Poster/Bollywood_Poster_Stree2.jpeg" class="slide"
                    alt="Stree2 Poster"></a>
            <br>
            <a href="/bookstree2">Stree 2</a>
        </div>    
    </div>
</div>

<!-- ----------------------------------------------------PUNJABI--------------------------------------- -->

<div class="puncontainer" id="puncontainer" style="display: none;">
    <h1 class="headings">Punjabi Collection</h1>
    <div class="pun" id="pun">
        <div class="Ardaas_sdbd">
            <a href="/bookardaas_sdbd"><img src="static/Pollywood_Poster/Pollywood_Poster_Ardaas Sarbat De Bhale Di.jpeg"
                    class="slide" alt="Ardaas Sarbat De Bhale Di Poster"></a>
            <br>
            <a href="/bookardaas_sdbd">Ardaas Sarbat De Bhale Di</a>
        </div>

        <div class="Jatt_and_Juliet3">
            <a href="/bookjattandjuliet3"><img src="static/Pollywood_Poster/Pollywood_Poster_Jatt & Juliet 3.jpeg"
                    class="slide" alt="Jatt & Juliet 3 Poster"></a>
            <br>
            <a href="/bookjattandjuliet3">Jatt & Juliet 3</a>
        </div>
        <div class="Shinda_Shinda_No_Papa">
            <a href="/bookShindaShindanopapa"><img src="static/Pollywood_Poster/Pollywood_Poster_Shinda Shinda No Papa.jpeg"
                    class="slide" alt="Shinda Shinda No Papa Poster"></a>
            <br>
            <a href="/bookshindashindanopapa">Shinda Shinda No Papa</a>
        </div>
        <div class="Rose_Rosy_te_Gulab">
            <a href="/bookRoseRosyteGulab"><img src="static/Pollywood_Poster/Pollywood_Poster_Rose_Rosy_te_Gulab.jpeg"
                    class="slide" alt="Rose Rosy te Gulab Poster"></a>
            <br>
            <a href="/bookroserosytegulab">Rose Rosy te Gulab</a>
        </div>
    </div>
</div>



<script src="static/JS/home.js"></script>

{% endblock %}