{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}

<style>
    .forgotpass {
        margin-left: 89%;
    }

    @media(max-width: 950px) {
        .forgotpass {
            margin-left: 83%;
        }
    }

    @media(max-width: 850px) {
        .forgotpass {
            margin-left: 83%;
        }
    }

    @media(max-width: 550px) {
        .forgotpass {
            margin-left: 77%;
        }
    }

    @media(max-width: 430px) {
        .forgotpass {
            margin-left: 69%;
        }
    }

    @media(max-width: 400px) {
        .forgotpass {
            margin-left: 65%;
        }
    }

    @media(max-width: 350px) {
        .forgotpass {
            margin-left: 62%;
        }
    }
</style>

<form method="post">
    <h2 align="center" style="font-weight: bold;">Login</h2>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="abc@xyz.com">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
        <input type="checkbox" id="showPassword" style="margin-top: 10px;">
        <label for="showPassword">Show Password</label> <br>
        <u><a href="{{ url_for('auth.reset_password') }}" class="forgotpass">Forgot Password?</a></u> <br>
    </div>
    <br>
    <center>
        <u>Don't have an account? <a href="/sign-up">sign-up Here</a></u> <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </center>
</form>
<script>
    document.getElementById('showPassword').addEventListener('change', function () {
        const passwordField = document.getElementById('password');
        if (this.checked) {
            passwordField.type = 'text'; 
        } else {
            passwordField.type = 'password';
        }
    });
</script>
{% endblock %}