{% extends "base.html" %} 
{% block title %}Raid 2{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row movie text-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex justify-content-center align-items-center">
            <img src="static/Upcoming/Raid2.jpeg" alt="Raid 2 Movie Poster" class="img-fluid" style="max-height: 300px; height: auto;">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 mb-3">
            <video src="static/Upcoming/Raid2_Trailer.mp4" class="w-100" style="height: 300px;" muted autoplay controls></video>
        </div>
    </div>

<h1>Storyline</h1>
<p>Raid 2 is an upcoming Indian Hindi-language crime thriller film directed by Raj Kumar Gupta. The film is a sequel to Raid (2018) and stars Ajay Devgn, Riteish Deshmukh and Vaani Kapoor. Raid 2 follows the return of IRS officer Amay Patnaik (Devgn), who tracks another white-collar crime.

    Like the previous film, the sequel is also based on the income-tax raid conducted by the officers of Income Tax Department who work with intelligence agencies to track white-collar crimes. The film was announced in April 2020. Filming was held in Mumbai, Rajasthan, Uttar Pradesh, and Delhi in the first half of 2024.</p>

<h1>Cast</h1>
<ul>
    <li>Ajay Devgn</li>
    <li>Amay Patnaik</li>
    <li>Tamannaah Bhatia</li>
    <li>Vaani Kapoor</li>
    <li>Riteish Deshmukh</li>
    <li>Rajat Kapoor</li>
    <li>Neeta Satnani</li>
    <li>Receptionist</li>
    <li>Shruti Pandey</li>
    <li>Geeta Devi</li>
    <li>Madhvendra Jha</li>
    <li>Vishal Mishra</li>
    <li>Ayushi Nema</li>
    <li>Anita</li>
    <li>Sushil Dahiya</li>
    <li>Chief Minister</li>
    <li>Bhavna Singh Chauhan</li>
    <li>Vikram Pratap</li>
    <li>Srivastava Pritisha</li>
    <li>Mini</li>
    <li>Ashish Gokhale</li>
    <li>Rukh Nabeel</li>
    <li>Bhavna Mishra</li>
    <li>Sandeep Kapoor</li>
    <li>Puneet Sahni(credit only)</li>
    <li>Durgesh Chauhan</li>
    <li>Bhola driver</li>
    <li>Brij Bhushan Shukla</li>
  </ul>
    
{% endblock %}
