{% extends "base.html" %} 
{% block title %}Havoc{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row movie text-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex justify-content-center align-items-center">
            <img src="static/Upcoming/Havoc.jpeg" alt="Havoc Movie Poster" class="img-fluid" style="max-height: 300px; height: auto;">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 mb-3">
            <video src="static/Upcoming/Havoc.mp4" class="w-100" style="height: 300px;" muted autoplay controls></video>
        </div>
    </div>

<h1>Storyline</h1>
<p>The story is set after a drug deal gone wrong, when a bruised detective must fight his way through a criminal underworld to rescue a politician's estranged son, while unraveling a deep web of corruption and conspiracy that ensnares his entire city.—Justin Kroll</p>

<h1>Cast</h1>
<ul>
    <li>Tom Hardy</li>
    <li>Walker</li>
    <li>Lockhart Ogilvie</li>
    <li>Undercover Cop</li>
    <li>Quelin Sepulveda</li>
    <li>Mia</li>
    <li>Justin Cornwell</li>
    <li>Charlie</li>
    <li>Jim Caesar</li>
    <li>Wes</li>
    <li>Xelia Mendes-Jones</li>
    <li>Johnny</li>
    <li>Richard Harrington</li>
    <li>Jake</li>
    <li>Serhat Metin</li>
    <li>Cortez</li>
    <li>Timothy Olyphant</li>
    <li>Vincent</li>
    <li>Gordon Alexander</li>
    <li>Hayes</li>
    <li>John Cummins</li>
    <li>Jimmy</li>
    <li>Megan Lockhurst</li>
    <li>News Anchor</li>
    <li>Forest Whitaker</li>
    <li>Lawrence Beaumont</li>
    <li>Jade Ogugua</li>
    <li>Advisor</li>
    <li>Jessie Mei Li</li>
    <li>Ellie</li>
    <li>Jack Morris</li>
    <li>Meth Head Man</li>
    <li>Gareth Tidball</li>
    <li>Apartment Woman</li>
    <li>Narges Rashidi</li>
    <li>Helena</li>
    <li>Astrid Fox-Sahan</li>
    <li>Emmy</li>
    <li>Sunny Pang</li>
    <li>Ching</li>
    <li>Alan Leong</li>
    <li>Triad Doorman</li>
    <li>Jeremy Ang Jones</li>
    <li>Tsui</li>
    <li>Aaron Ly</li>
    <li>Aaron Ly</li>
    <li>Ching's Lieutenant</li>
    <li>Medieval Premiere, Prague</li>
    <li>Jennifer Armour</li>
    <li>Patrol Cop (Tsui's)</li>
    <li>Clarence Smith</li>
    <li>Detective (Tsui's)</li>
    <li>Yann Yann Yeo</li>
    <li>Tsui's Mother(as Yeo Yann Yann)</li>
    <li>Michelle Waterson</li>
    <li>Assassin</li>
    <li>Albert Tang</li>
    <li>Tom Wu</li>
    <li>Wong</li>
    <li>Jill Winternitz</li>
    <li>Angela</li>
    <li>Stacy Sobieski</li>
    <li>Luis Guzmán</li>
    <li>Raul</li>
    <li>Odimegwu Okoye</li>
    <li>Captain</li>
    <li>Jon-Scott Clark</li>
    <li>Ticket Guy</li>
    <li>Kage Jakubiec</li>
    <li>Medusa DJ</li>
    <li>Samya De Meo</li>
  </ul>
  
{% endblock %}
