{% extends "base.html" %} 
{% block title %}Housefull 5{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row movie text-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex justify-content-center align-items-center">
            <img src="static/Upcoming/houseful 5.jpeg" alt="Punjab'95 Movie Poster" class="img-fluid" style="max-height: 300px; height: auto;">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 mb-3">
            <video src="static/Upcoming/housefull 5_Trailer.mp4" class="w-100" style="height: 300px;" muted autoplay controls></video>
        </div>
    </div>

<h1>Storyline</h1>
<p>The plot of "Housefull 5" is centered around the reincarnation of a group of characters from the previous four films, "Housefull", "Housefull 2", "Housefull 3", and "Housefull 4". In this reincarnation-based comedy, the characters find themselves in new bodies, but still entangled with each other in a comedic, chaotic, and hilarious manner. The movie explores themes of fate, destiny, and the pursuit of love and happiness in a new life, with the familiar quirky characters from the previous installments navigating the modern era with their unique perspectives.</p>

<h1>Cast</h1>
<ul>
    <li>Akshay Kumar</li>
    <li>Chitrangda Singh</li>
    <li>Sanjay Dutt</li>
    <li>Jacqueline Fernandez</li>
    <li>Abhishek Bachchan</li>
    <li>Nargis Fakhri</li>
    <li>Jackie Shroff - Abhishek Bachchan's Father</li>
    <li>Riteish Deshmukh</li>
    <li>Nana Patekar</li>
    <li>Nikitin Dheer</li>
    <li>Sonam Bajwa</li>
    <li>Johny Lever - (as Johnny Lever)</li>
    <li>Dino Morea</li>
    <li>Fardeen Khan</li>
    <li>Shreyas Talpade</li>
    <li>Chunky Pandey</li>
    <li>Ranjeet Bedi - Akshay Kumar's Father</li>
    <li>Natalia Janoszek</li>
    <li>Archana Puran Singh</li>
    <li>Archana Puran Singh - Cameo</li>
    <li>Soundarya Sharma - Cameo</li>
    <li>Akashdeep Sabir - Doctor</li>
</ul>

{% endblock %}
