{% extends "base.html" %} 
{% block title %}Punjab 95{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row movie text-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 d-flex justify-content-center align-items-center">
            <img src="static/Upcoming/Punjab 95.jpeg" alt="Punjab'95 Movie Poster" class="img-fluid" style="max-height: 300px; height: auto;">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 mb-3">
            <video src="static/Upcoming/Punjab95_Trailer.mp4" class="w-100" style="height: 300px;" muted autoplay controls></video>
        </div>
    </div>

<h1>Storyline</h1>
<p>Based on the challenging life of Jaswant Singh Khalra, a tenacious and brave Sikh rights activist who gained international recognition for his ground-breaking research including 25,000 unlawful killings, countless disappearances, and secretive cremations carried out by the Punjab Police. This narrative highlights his determination to bring about change prior to his kidnapping by the Punjab Police, torture, and brutal murder.</p>

<h1>Cast</h1>
<ul>
    <li>Arjun Rampal</li>
    <li>Diljit Dosanjh - Jaswant Singh Khalra</li>
    <li>Jagjeet Sandhu</li>
    <li>Kanwaljeet Singh</li>
    <li>Raj Hundal - Reporter</li>
    <li>Varun Badola</li>
    <li>Suvinder Vicky</li>
    <li>Geetika Vidya Ohlyan</li>
    <li>Sukhdev Barnala - Police inspector</li>
    <li>Sushil Dahiya</li>
    <li>Jasbir Gill</li>
    <li>Jyoti Dogra</li>
    <li>Vijay Kumar Dogra - Police inspector Rajasthan Police</li>
    <li>Rahul Mittra - Inspector J Randhava</li>
    <li>Amanmeet Singh - Jaswant Neighbour</li>
    <li>Veer Abhinav - Lajjo Satanam's wife</li>
    <li>Corinne Meadors</li>
    <li>Sandeep Kailey - Police man</li>
    <li>Jashanpreet Singh - Reporter</li>
    <li>Ankush Paul</li>
</ul>

{% endblock %}
